
:host(app-nav-menu) {
    mat-nav-list {
        padding: 0;
    }
}

[layout-root] {
    overflow: hidden;

    * {
        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
    }

    [sub-menu] {
        padding-left: 1rem;
    }

    .sub-menu-opened {
        display: block;
    }

    .sub-menu-closed {
        display: none;
    }

    .menu-heading {
    }

    .menu-item {
    }
}
