
:host(app-nav-menu) {
    mat-nav-list {
        padding: 0;
    }
}

[layout-root] {
    overflow: hidden;

    [sub-menu] {
        padding-left: 1rem;
    }

    .sub-menu-opened {
        display: block;
    }

    .sub-menu-closed {
        display: none;
    }

    .menu-heading {
        font-size: 1.2em;
    }

    .menu-item {
        font-size: 1em;
    }
}
